.heart {
  height: 30px;
  width: 30px;
  border-radius: 40%;
  margin-top: 10px;
  cursor: pointer;
}
.sizing {
  height: 600px;
  width: 600px;
  text-align: center;
  margin-left: 280px;
}

img {
  max-height: 600px;
  max-width: 600px;
}
